* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background: rgb(249,249,251);
}
.App {
  width: 80vw;
  margin: 0 auto;
  
}
#ApplicationTitle {
  margin: 0 auto;
  width: 22vw;
  font-size: 2rem;
}
#NewButton{
  background-color:aquamarine;
  padding: 2px 10px;

border-radius: 30px;

font-size: 1.3rem;
}
/*design for the modal card aspect of the application*/
.modal {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.82);
  z-index: 1;
}
.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Display {
  display: block;
}
.update{
  color:red;
}
.company{
  font-weight:800;
}

/*style for the form to add a new job*/
#JobForm {
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 15px;
  border-radius:2%;
  height:40vh;
  width:80vw;
  animation: GrowIn 1s;
}

#JobForm Input,select {
  padding: 0px;

  height:25px;
}
#LeftForm{
  grid-row:1/5;
  display:grid;
  grid-template-columns: auto auto;
  height:100%;
}
#LeftForm > *{
  align-self: center;
}

#FormNotes{
  grid-column:2;
  display:grid;
  grid-template-rows:1fr 8fr;
  row-gap: 10px;
}
#FormNotes >textarea{
  width:200px;
  height:175px;
}
label#DescriptionLabel {
  justify-self: center;

}
.Controls {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  column-gap: 15px;
}
#Form{
  grid-row: 5;
  grid-column: 1/4;
}
/*styling for the display of cards on the page*/
.JobTable {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  grid-gap: 20px;
}
.PreviewCard {
  border: 1px solid black;
  background-color: #15CD72;
  height: 20vh;
  border-radius: 5px;
  display:grid;
  grid-template-rows: repeat(3 auto);
}
.declined{
  background-color:#ED4F32;
}
.processing{
  background-color: #288feb
}
.PreviewCard:hover{
  animation: ShadowBox .4s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);

}.PreviewCard > * {
  justify-self: center;
}
#RowUpdated{
  align-self: end;
}
/*design for the display of the cards with job information*/
.JobCard{
  padding:0px 10px;
  background-color:white;
  height:80vh;
  width:60vw;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(9,auto);
  grid-auto-flow: column;
  border-radius:2%;
  animation: GrowIn 1s;
}
.JobCard > div{
  align-self: center;
  display:grid;
  grid-template-columns: auto auto;
}
textarea{
  height:100px;
  width:150px;
}
#Company{
  
  display:inline-block;
  margin: 0 auto;
  font-size:2rem;
  /* font-weight: 800; */
}
#Url{
  grid-template-rows:auto auto;
  grid-template-columns: 1fr;
}
#Updated{
  display: inline-block;
  margin:0 auto;
  font-size:.75rem;
  font-weight: 800;
}
/*animation keyframes*/
@keyframes GrowIn{
  0%{
    transform: scale(.2);
  }
  100%{
    transform: scale(1);
  }
  }
  @keyframes ShadowBox{
    0%{
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100%{
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

